/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/quicksand-v22-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/quicksand-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/quicksand-v22-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/quicksand-v22-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/quicksand-v22-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/quicksand-v22-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  /*background: url(../img/Background.png) no-repeat;
  background-size: cover; */
}

.test {
  height: 200vh;
  width: 100%;
  background: url(../img/Background.png) no-repeat center;
  background-size: cover;
}
.body {
  font-family: "Quicksand";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
}
/* header styles start */

.navigation__bar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__item {
  margin-right: 55px;
  list-style-type: none;
}

.header__link {
  font-family: Quicksand;
  font-size: 16px;
  line-height: 20px;
  color: #0f7cff;
  text-decoration: none;
}
.header__link:hover,
.header__link:focus {
  opacity: 0.4;
}
.header__link:active {
  opacity: 0.75;
}
/* header styles stop */

/* intro styles start */
.intro__title {
  padding-top: 128px;
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}
.short__description {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */

  text-align: center;

  color: #929292;
}

.downloads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.download-pic {
  margin: 30px;
}

.devices {
  padding: 70px;
  text-align: center;
}
.devices-pic {
  top: 50px;
  left: 55px;
  position: relative;
  z-index: 0;
}

.scrol_down {
  text-align: center;
  z-index: 5;
}

.scrol_down-pic {
  top: 100px;
  left: -422px;
  position: relative;
  z-index: 5;
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  height: 635px;
  background: #f5fcfd no-repeat center;
  background-size: cover;
}

.square-pic {
  top: -145px;
  left: 0px;
  position: relative;
  z-index: 2;
}

.square-pic:last-child {
  top: -200px;
  left: 0px;
  position: relative;
  z-index: 2;
}
.square-pic:first-child {
  top: -200px;
  left: 0px;
  position: relative;
  z-index: 2;
}
.icons {
  top: -420px;
  left: 560px;
  position: relative;
  z-index: 3;
}

.icons:last-child {
  top: -480px;
  left: 880px;
  position: relative;
  z-index: 3;
}
.icons:first-child {
  top: -480px;
  left: 240px;
  position: relative;
  z-index: 3;
}

.advantage_text {
  max-width: 333px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  top: 1600px;
  left: 510px;
  position: absolute;
  z-index: 3;
}
.advantage_text:first-child {
  max-width: 333px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  top: 1530px;
  left: 115px;
  position: absolute;
  z-index: 3;
}
.advantage_text:last-child {
  max-width: 333px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  top: 1530px;
  left: 910px;
  position: absolute;
  z-index: 3;
}
/* intro styles stop */

/* photo people start */
.blue_square {
  top: -160px;
  left: 55px;
  position: relative;
  z-index: 0;
  width: 30%;
}

.Screen_woman {
  top: -250px;
  left: -310px;
  position: relative;
  z-index: 1;
  width: 25%;
}

.easy_messaging_text {
  max-width: 476px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  top: 2000px;
  left: 650px;
  position: absolute;
}

.easy_messaging_more {
  max-width: 100px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  top: 2150px;
  left: 650px;
  position: absolute;
  color: #0063dd;
}

.Arrow1 {
  top: -31px;
  left: 142px;
  position: relative;
  z-index: 1;
}

.blue_square2 {
  top: -180px;
  right: -590px;
  position: relative;
  z-index: 0;
  width: 30%;
}

.Screen_man {
  top: -280px;
  right: -230px;
  position: relative;
  z-index: 1;
  width: 18%;
}

.Keep_in_touch_text {
  max-width: 476px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  top: 2300px;
  left: 70px;
  position: absolute;
}

.keep_in_touch_more {
  max-width: 476px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  top: 2450px;
  left: 70px;
  position: absolute;
  color: #0063dd;
}

.Arrow2 {
  top: -31px;
  left: 112px;
  position: relative;
  z-index: 1;
}
/* photo people stop */

/* how does it works  start*/

.how_does {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  height: 635px;
  background: #f5fcfd no-repeat center;
  background-size: cover;
}

.how_does_text {
  max-width: 722px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  top: 100px;
  left: 0px;
  position: relative;
}

.Icon1 {
  top: 150px;
  right: -150px;
  position: relative;
  z-index: 1;
}
.Icon2 {
  top: 150px;
  right: -370px;
  position: relative;
  z-index: 1;
}
.Icon3 {
  top: 150px;
  right: -590px;
  position: relative;
  z-index: 1;
}

.Line {
  top: 100px;
  right: 160px;
  position: relative;
  z-index: 0;
}

.Create_An_Account_text {
  max-width: 333px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  top: 160px;
  left: 30px;
  position: relative;
}

.Confirm_Email_text {
  max-width: 333px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  top: 37px;
  left: 360px;
  position: relative;
}

.See_Results_text {
  max-width: 333px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  top: -86px;
  left: 690px;
  position: relative;
}
/* how does it works  stop*/

/*Price start */
.pricing_plan_text {
  max-width: 332px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  top: 270px;
  left: 150px;
  position: relative;
}

.monthly {
  top: 320px;
  right: -150px;
  position: relative;
  z-index: 1;
}
.yearly {
  top: 320px;
  right: -145px;
  position: relative;
  z-index: 1;
}
.white_block {
  width: 310px;
  top: -70px;
  left: 570px;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
  padding: 10px;
}

.premium_icon {
  width: 95px;
  top: -450px;
  left: 360px;
  position: relative;
  z-index: 1;
}

.premium_text {
  max-width: 332px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 184%;
  text-align: center;
  top: -460px;
  left: 550px;
  position: relative;
}
.sell1 {
  max-width: 332px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  top: -460px;
  left: 550px;
  position: relative;
  color: #0f7bff;
}

.try_now_blue {
  top: -420px;
  left: 630px;
  position: relative;
  z-index: 1;
}

.white_block2 {
  width: 310px;
  top: -870px; /* top: -70px;*/
  left: 900px; /* left: 570px; */
  position: relative;
  z-index: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
  padding: 10px;
}

.standart_icon {
  width: 95px;
  top: -1250px;
  left: 690px;
  position: relative;
  z-index: 1;
}

.standart_text {
  max-width: 332px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 184%;
  text-align: center;
  top: -1260px;
  left: 880px;
  position: relative;
}
.sell2 {
  max-width: 332px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  top: -1260px;
  left: 880px;
  position: relative;
  color: #0f7bff;
}

.try_now_white {
  top: -1220px;
  left: 960px;
  position: relative;
  z-index: 1;
}
/*Price stop */

/* Trusted By More block start*/
.hands_back {
  width: 1370px;
  top: -1100px;
  left: -10px;
  position: relative;
  z-index: 0;
}
.trusted_more_text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  top: -1700px;
  left: 300px;
  position: relative;
}
.twiter_fon {
  width: 300px;
  top: -1400px;
  left: 600px;
  position: relative;
  z-index: 1;
}
.twiter_icon {
  top: -1500px;
  left: 550px;
  position: relative;
  z-index: 1;
}

.twiter_text1 {
  width: 332px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  top: -1650px;
  left: 600px;
  position: relative;
  z-index: 2;
}

.twiter_fon2 {
  width: 300px;
  top: -1400px;
  left: 600px;
  position: relative;
  z-index: 1;
}
.twiter_icon2 {
  top: -1500px;
  left: 550px;
  position: relative;
  z-index: 1;
}

.twiter_text2 {
  width: 332px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  top: -1820px;
  left: 935px;
  position: relative;
  z-index: 2;
}

.twiter_fon3 {
  width: 300px;
  top: -1400px;
  left: 600px;
  position: relative;
  z-index: 1;
}
.twiter_icon3 {
  top: -1500px;
  left: 550px;
  position: relative;
  z-index: 1;
}

.twiter_text3 {
  width: 332px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  top: -1990px;
  left: 1275px;
  position: relative;
  z-index: 2;
}
/* Trusted By More block stop*/
